---
layout: page
title: Solutions

---


{% for solution in site.data.opensource-solutions %}

  <div class="solution-panel">
    <h2 class="solution-header">
      {{solution.title}}
    </h2>
    <p class="solution-description"><strong>Description:</strong> {{solution.description}}</p>
    <a href="{{solution.link}}" class="solution-link" target="_blank">The Solution</a>

    {% if solution.company %}
    <a href="{{solution.companylink}}" class="solution-company-link" target="_blank"><strong>Created by:</strong> {{solution.company}}</a>
    {% endif %}

  </div>

{% endfor %}
